In [38]:
#IMPORTAR BIBLIOTECAS 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [39]:
base2

,gender,parental level of education,test preparation course,Média,aprovado
0,1,1,1,65,1
1,2,2,0,48,0
2,1,3,0,55,0
3,1,1,0,73,1
4,1,4,1,71,1
...,...,...,...,...,...
995,1,1,0,68,1
996,1,4,1,88,1
997,2,2,0,34,0
998,2,3,0,74,1
999,1,3,1,61,0

In [26]:
#importar base de dados
base = pd.read_csv("Provass.csv")

In [28]:
base2 = base.drop(columns = ["race/ethnicity","lunch", "math score", "reading score", "writing score"])

In [29]:
# criar um Subconjunto/ treino
X = base2.drop(columns = ["aprovado"])
y = base2["aprovado"]
X_treino, X_test, y_treino, y_test = train_test_split(X,y, test_size = 0.2)

In [30]:
#Criar Modelo
modelo = DecisionTreeClassifier()
modelo.fit(X_treino,y_treino)

DecisionTreeClassifier()

In [31]:
#realizar a previsao
previsao = modelo.predict(X_test)

In [35]:
previsao

array([0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1], dtype=int64)

In [37]:
# medir precisão
medir = accuracy_score(y_test, previsao)
medir

0.99